<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Custom CSS Link -->
    <link rel="stylesheet" href="/components/css/footer.css">
    <!-- Box-icons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Footer</title>
</head>
<body>
    <footer>
        <div class="footer-container">
            <div class="footer-columns">
                <div class="footer-column-one">
                    <div class="foot-logo">
                        <img src="https://placehold.co/150x50" alt="Logo">
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur, <br> adipisicing elit. Doloribus, ipsa.</p>
                    <ul>
                        <li><a href="tel:+8801234567890"><i class='bx bxs-phone-call'> +8801234567890</i></a></li>
                        <li><a href="mailto:xyz@mail.com"><i class='bx bxs-envelope'> xyz@mail.com</i></a></li>
                    </ul>
                    <div class="foot-social-icons">
                        <ul>
                            <li><a href=""><i class='bx bxl-facebook-circle'></i></a></li>
                            <li><a href=""><i class='bx bxl-twitter'></i></a></li>
                            <li><a href=""><i class='bx bxl-whatsapp'></i></a></li>
                            <li><a href=""><i class='bx bxl-instagram'></i></a></li>
                            <li><a href=""><i class='bx bxl-youtube'></i></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-column-two">
                    <h3>Quick Links</h3>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Student Results</a></li>
                        <li><a href="#">Students Success</a></li>
                        <li><a href="#">Teacher Login</a></li>
                        <li><a href="#">Admission</a></li>
                        <li><a href="#">Notice</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="footer-column-three">
                    <h3>Courses</h3>
                    <ul>
                        <li><a href="#"> Scaffolding Supervisor</a></li>
                        <li><a href="#">MMA & TIG WELDING</a></li>
                        <li><a href="#">Hull Fitter</a></li>
                        <li><a href="#">Property Management</a></li>
                        <li><a href="#">Digital Surveyor</a></li>
                        <li><a href="#">Electrical Maintenance</a></li>
                        <li><a href="#">Nursing Assistant</a></li>
                    </ul>
                </div>
                <div class="footer-column-four">
                    <h3>Subscribe to our newsletter</h3>
                    <p>The latest news, articles, and resources, sent to <br> your inbox weekly.</p>
                    <form>
                        <input type="email" placeholder="Enter your email">
                        <button type="submit">Subscribe</button>
                    </form>
                </div>
            </div>
            <p>&copy; 2025 Your Website. All rights reserved. Developed by <q><a href="https://softcodeloop.com/">SoftCode Loop</a></q></p>
        </div>
    </footer>
</body>
</html>